.project {
    margin: 0 16px;
  }
  
  .project:last-child {
    margin-bottom: 40px;
  }
  
  .project__img {
    width: 100%;
    max-width: 500px; /* Adjust the max-width as needed */
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the entire area */
    transition: all 500ms ease;
  }
  
  .project__wrapper {
    display: flex;
    margin: 0 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  .project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 450ms ease;
    z-index: 2;
    transform: translateY(100%);
  }
  .project:hover .project__wrapper:before {
    transform: translateY(0);
    opacity: 0.7;
  }
  .project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
  }
  
  .project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
  }
  
  .project__list {
    padding-top: 40px;
  }
  
  .project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
  }
  
  .project__description--title {
    font-size: 30px;
  }
  
  .project__description--para {
    margin: 14px 0;
  }
  
  .project__description--link {
    font-size: 18px;
    margin-right: 16px;
  }
  
  .project__description--title,
  .project__description--sub-title,
  .project__description--para,
  .project__description--link {
    text-align: left;
    color: #fff;
  }
  